<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="description" content="아주대학교 물리학과 천체소학회 DAWN">
  <meta property="og:image" content="https://ajou-dawn.com/assets/img/dawn-logo-26.png">
  <meta name="naver-site-verification" content="399571b6b49fccfed3c11933bb362775cfdbe1af" />
  <link rel="preload" as="image" href="/assets/img/main.jpg" fetchpriority="high" type="image/webp">

  {% seo %}

  <link rel="icon" type="image/svg+xml" href="/assets/img/favicons/favicon.svg" />

  <!--
    <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="DAWN" />
  -->
  <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico?v=qA3OXqyw77"><![endif]-->
  
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">


  <meta name="apple-mobile-web-app-title" content="Sleek">
  <meta name="application-name" content="Sleek">
  <meta name="msapplication-config" content="{{ '/assets/img/icons/browserconfig.xml?v=qA3OXqyw77' | relative_url }}">
  <meta name="theme-color" content="#ffffff">

  {% if site.google_tag_manager %}

    {% include gtm.html %}

  {% endif %}

  <style class="inlineCSS">

    {% include critical.css %}

  </style>
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>
  <script type="text/javascript">
   {% include loadCss.js %}
  </script>

  <title>아주대학교 물리학과 천체소학회 DAWN</title>
</head>
