<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          <img src="{{ '/assets/img/newdawn2.png' | relative_url }}" style="scale: 2.0; margin-left: 0px; margin-top: 2px;" alt="Logo">
        </div>
      </a>
      
      <nav class="header__links">
        <div class="header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
        </div>
      </nav>

      <!-- 우측 정렬을 위한 묶음 또는 검색 버튼 왼쪽의 달 위젯 -->
      <div style="display: flex; align-items: center; margin-left: auto; gap: 10px;">
        <!-- 달 위젯 -->
        <a target="_blank" style="text-decoration:none; display: inline-flex; align-items: center;" href="https://moonphase.guide/">
          <img src="https://moonphase.guide/module/MZzI5cDBMVzUwWi9uYXdoa1pPYVJKYVgzb2JsNU1HT042TmdqK1RubkxDQzY0cXdxT2UxY3BSdGFLbGZpWnZjVllYU2E1YUk4SzZRSDk5V2J3Q3orZEE9PQ.png" style="height: 43px; width: auto; margin-top: 4px; margin-right: 7px;" alt="Moon Phase" />
        </a>

        <!-- 검색 버튼 -->
        <a href="{{ '/search' | relative_url }}" class="header__search-btn" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line> 
          </svg>
        </a>
      </div>

      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>  
  </div>
</header>